* {
  box-sizing: border-box;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

html {
  padding: 10px; }

.bg-g-blue {
  background: linear-gradient(137deg, #1982FF 0%, #57A4FF 100%); }

.bg-g-green {
  background: linear-gradient(137deg, #7CF815 0%, #A3F95C 100%); }

.bg-g-red {
  background: linear-gradient(137deg, #FF4532 0%, #FF8073 100%); }

.mb-1 {
  margin-bottom: 15px; }

.mb-2 {
  margin-bottom: 20px; }

h2 {
  font-size: 42px; }

h3 {
  font-size: 32px;
  font-weight: 400;
  color: silver; }

h5 {
  font-size: 20px;
  font-weight: 400;
  color: grey; }

.text-white {
  color: #ffffff; }

.text-black {
  color: #000000; }

.text-red {
  color: #FF4532; }

.text-green {
  color: #7CF815; }

.text-white-gray {
  color: #adadad; }

.sidebar {
  width: 300px;
  height: 95vh;
  padding: 30px;
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .sidebar .sidebar-logo-box {
    display: flex;
    align-items: center; }
    .sidebar .sidebar-logo-box .logo {
      width: 60px;
      height: 60px;
      margin-right: 20px; }
  .sidebar .sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #adadad;
    letter-spacing: 2px; }
    .sidebar .sidebar-item .item-icon {
      width: 25px;
      height: 25px;
      margin-right: 20px; }

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 95vh; }

.dashboard-container {
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  height: 95vh;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 140px 350px 350px;
  row-gap: 20px;
  column-gap: 20px; }
  .dashboard-container > div:nth-child(4) {
    grid-column: 1/ span 2; }
  .dashboard-container > div:nth-child(7) {
    grid-column: 2 / span 2; }

.card {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px; }

.monthly-chart {
  height: 100%;
  width: 100%; }

.doughnutChart {
  width: auto;
  height: 100%; }

.user-details-box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%; }
  .user-details-box .user-avatar {
    width: 160px;
    height: 160px;
    border: 5px solid #1982FF;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .user-details-box .user-type-box {
    display: flex;
    align-items: center; }
    .user-details-box .user-type-box .user-type-logo {
      width: 20px;
      height: 20px;
      margin-left: 15px; }

.user-transactions-box {
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  overflow-y: scroll; }
  .user-transactions-box .user-transaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fafafa;
    margin-bottom: 10px; }
