$color-white: #ffffff;
$color-black: #000000;
$color-blue-dark :#1982FF;
$color-blue-light: #57A4FF;
$color-green-dark: #7CF815;
$color-green-light: #A3F95C;
$color-red-dark: #FF4532;
$color-red-light: #FF8073;
$color-white-gray: rgb(173, 173, 173);
$color-silver-light: #bbbbbb;