@import 'abstracts/variables';
@import 'base/base';
@import 'base/utilities';
@import 'base/typography';
@import 'layout/sidebar';


.app-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 95vh;

}



.dashboard-container {
    margin-right:auto;
    margin-left:auto;
    padding:10px;
    height: 95vh;
    display:grid;
    grid-template-columns: repeat(3, 350px); 
    grid-template-rows: 140px 350px 350px;
    row-gap: 20px;
    column-gap: 20px;
 
    >div:nth-child(4) {
        grid-column: 1/ span 2;
    }

    >div:nth-child(7) {
        grid-column: 2 / span 2;
    }

}

.card {

    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:30px;
}



.monthly-chart {

    height:100%;
    width:100%;
}

.doughnutChart {
    width:auto;
    height:100%;
}

.user-details-box {
    padding:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100%;

    .user-avatar {
        width:160px;
        height:160px;
        border:5px solid $color-blue-dark;
        border-radius:50%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .user-type-box {

        display:flex;
        align-items: center;

        .user-type-logo {
            width:20px;
            height:20px;
            margin-left:15px;
        }
    }
}

.user-transactions-box {

    padding:15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height:100%;
    overflow-y: scroll;

    .user-transaction {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding:10px;
        background-color: $color-white-creamy;
        margin-bottom:10px;
    }
}